.header {
  height: 40px;
  background-color: rgb(249 247 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}

.header_text {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e7e5e0;
  width: 400px;
}

.header_icon {
  display: block;
}

.header_navbar {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.header_nav_link {
  text-decoration: none;
  color: #d4cb98;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  transition: color 0.2s linear;
}


.header_nav_link:hover {
  color: #ab9200;
}

.header_nav_link.nav_link_active {
  position: relative;
}

.header_nav_link.nav_link_active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(144, 144, 131);
  left: 0;
  bottom: -2px;
}