






.intro_bg {
  background: url("./assets/pics/mountains.jpg") center no-repeat;
  background-color: rgb(48, 175, 189);
  background-size: 100%;
  background-attachment: fixed;
}

.intro {
  margin: 0 auto;
  width: 80%;
  display: flex;
  height: 100vh;
  color: #fff;
  padding: 60px 0;
}

h1 {
  color:rgb(6, 104, 114);
  margin-bottom: 30px;
}

.intro_text {
  font-family: "Grape Nuts", cursive;
  font-size: 1.3rem;
  flex: 5;
  text-align: center;
  position: relative;
}

.cloud1 {
  position: absolute;
  left: -190px;
  bottom: -180px;
  width: 90%;
}



.intro_photo_block {
  flex: 5;
}

.intro_photo {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

