.skills__container {
  background: url("./assets/pics/moon-moonlight-night-cloudy.jpg") center no-repeat;
  background-color: rgb(46, 45, 54);
  background-size: 100%;
}


.skills__content {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.skills__title {
  text-transform: uppercase;
  color: aliceblue;
  font-family: 'Grape Nuts', cursive;
  text-align: center;
  padding-top: 70px;
}


.skills__block {
  margin: 100px -20px 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}