.skill {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex: 0 1 33.333%;
  align-items: center;
  padding: 0 20px;
}

.skill_title {
  color:rgb(202, 208, 154);
  text-transform: uppercase;
}

.skill_description {
  color: #fff;
  flex: 1 1 auto;
}


